%table.table.table-striped
  %thead
    %tbody
      - @orders.each do |order| 
        %tr
          %td{:id=> "order#{order.id}"}= order.id
          %td{:id=> "status#{order.id}"}= order.status
          %td{:id=> "newstatus#{order.id}"}= select_tag :status, options_for_select(Order::STATUS), {:class => "#{order.id}"}

%button.btn.pending Pending
%button.btn.delivered Delivered


